<!-- <footer class="bg-body-tertiary text-center">
  
    <div class="container p-4 pb-0">
    
      <section class="">
        <form action="">
         
          <div class="row d-flex justify-content-center">
         
            <div class="col-auto">
              <p class="pt-2">
                <strong>Sign up for our new arrivals</strong>
              </p>
            </div>
        
  
         
            <div class="col-md-5 col-12">
              
              <div data-mdb-input-init class="form-outline mb-4">
                <input type="email" id="form5Example26" class="form-control"  placeholder="Enter Your Email"/>
                
              </div>
            </div>
      
  
        
            <div class="col-auto">
             
              <button data-mdb-ripple-init type="submit" class="btn btn-primary mb-4">
                Subscribe
              </button>
            </div>
          
          </div>
        
        </form>
      </section>
     
    </div>
   
   
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2024 Copyright:
      <a class="text-body" href="#">Shop-Fusion.com</a>
    </div>
    
  </footer> -->
  <footer class="bg-body-tertiary text-center">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
        <!-- Section: Form -->
        <section class="">
            <form action="">
                <!--Grid row-->
                <div class="row d-flex justify-content-center align-items-center">
                    <!--Grid column-->
                    <div class="col-auto">
                        <p class="pt-2">
                            <strong>Sign up for our new arrivals</strong>
                        </p>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-5 col-12">
                        <!-- Email input -->
                        <div data-mdb-input-init class="form-outline mb-4">
                            <input type="email" id="form5Example26" class="form-control" placeholder="Enter Your Email"/>

                        </div>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-auto">
                        <!-- Submit button -->
                        <button data-mdb-ripple-init type="submit" class="btn btn-primary mb-4">
                            Subscribe
                        </button>
                    </div>
                    <!--Grid column-->
                </div>
                <!--Grid row-->
            </form>
        </section>
        <!-- Section: Form -->
    </div>
    <!-- Grid container -->

    <!-- Social media icons -->
    <div class="social-icons">
        <a href="https://github.com/srpchoudhury/" class="btn btn-dark btn-floating m-1" target="_blank"><i class="bi bi-github"></i></a>
        <a href="https://twitter.com" class="btn btn-dark btn-floating m-1" target="_blank"><i class="bi bi-twitter"></i></a>
        <a href="https://in.linkedin.com/in/s-rudra-prasad-choudhury-b4484522b" class="btn btn-dark btn-floating m-1" target="_blank"><i class="bi bi-linkedin"></i></a>
    </div>

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2024 Copyright:
        <a class="text-body" href="#">Shop-Fusion.com</a>
    </div>
    <!-- Copyright -->
</footer>
