<!-- <section class="header-main border-bottom bg-white">
  <div class="container-fluid">
    <div class="row p-2 pt-3 pb-3 d-flex align-items-center">
      <div class="col-md-2">
        <img
          class="d-none d-md-flex"
          src="https://i.imgur.com/R8QhGhk.png"
          width="100"
        />
      </div>
      <div class="col-md-8">
        <div class="d-flex form-inputs">
          <input
            class="form-control"
            type="text"
            placeholder="Search any product..."
          />
          <i class="bx bx-search"></i>
        </div>
      </div>
      <div class="col-md-2">
        <div class="d-flex d-none d-md-flex flex-row align-items-center">
          <span class="shop-bag"><i class="bx bxs-shopping-bag"></i></span>
          <div class="d-flex flex-column ms-2">
            <span class="qty">1 Product</span>
            <span class="fw-bold">$27.90</span>
          </div>
        </div>
        <button routerLink="cart">Cart</button>
        <button routerLink="cartdetails">Cart1</button>

      </div>
    </div>
  </div>
</section> -->
