<div class="row justify-content-around px-5">
    <div class="col-md-3 p-3">
       <a [routerLink]="['/productlist']">
        <div class="card w-75">
            <div class="card-body">
                <img src="https://static-assets-web.flixcart.com/www/linchpin/batman-returns/images/fk-default-image-75ff340b.png?q=90"
                    alt="">
                <h6>Men's T-Shirts</h6>
                <p class="text-success">Special Offer</p>
            </div>
        </div>
       </a>
    </div>
    <div class="col-md-3 p-3">
      <a href="">
        <div class="card w-75">
            <div class="card-body">
                <img src="https://static-assets-web.flixcart.com/www/linchpin/batman-returns/images/fk-default-image-75ff340b.png?q=90"
                    alt="">
                <h6>Women's Saree</h6>
                <p class="text-success">Special Offer</p>
            </div>
        </div>
      </a>
    </div>
    <div class="col-md-3 p-3">
       <a [routerLink]="['/grocery']">
        <div class="card w-75">
            <div class="card-body">
                <img src="https://static-assets-web.flixcart.com/www/linchpin/batman-returns/images/fk-default-image-75ff340b.png?q=90"
                    alt="">
                <h6>Grocery</h6>
                <p class="text-success">Special Offer</p>
            </div>
        </div>
       </a>
    </div>
    <div class="col-md-3 p-3">
       <a href="">
        <div class="card w-75">
            <div class="card-body">
                <img src="https://static-assets-web.flixcart.com/www/linchpin/batman-returns/images/fk-default-image-75ff340b.png?q=90"
                    alt="">
                <h6>Men's T-Shirts</h6>
                <p class="text-success">Special Offer</p>
            </div>
        </div>
       </a>
    </div>
</div>